.card{
    display: flex;
}
.box1{
    width:50%;
    height: 400px;
    background-color: aqua;
    animation-name: simple1;
    animation-duration: 2s;
    animation-delay: 0.1s;
    animation-iteration-count:inherit;
}
@keyframes simple1{
    0%{
        transform: translateX(-150%);
    }
    100%{
        transform: translateX(0);
    }

}
.box2{
    width:50%;
    height: 400px;
    background-color: rgb(38, 0, 255);
    animation-name: simple2;
    animation-duration: 2s;
    animation-delay: 0.1s;
    animation-iteration-count: inherit;
}
@keyframes simple2{
    0%{
        transform: translateX(150%);
    }
    100%{
        transform: translateX(0);
    }

}