.fahim{
    border: 2px solid red;
    width: 200px;
    float: left;
    
}
.pp{
    border: 2px solid blue;
    width: 300px;
    float:left;
}
.ss{
    border: 2px solid yellowgreen;
    width: 200px;
    float: right;
}