.container{
    width: 300px;
    height: 100px;

}
.box1{
    width: 100%;
    height: 100%;
    background-color: aqua;
    border: 2px solid royalblue;
    margin-top:40px;
    animation-name: simple;
    animation-duration: 2s;
    animation-delay: 0.1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
}
@keyframes simple{
    0%{width:0px;}
    20%{
        width: 300px;
        background-color: blue;
        border-radius: 50px;
    }
    50%{
        width: 700px;
        background-color: blueviolet;
        height: 200px;
    }
}