.container{
display: flex;
}
.box1{

}
.card1{
    width: 200px;
    height: 200px;
    background-color: aqua;
}
.card2{
    width: 200px;
    height: 200px;
    background-color: rgb(98, 0, 255);
}
.box2{

}
.card3{
    width: 200px;
    height: 200px;
    background-color: rgb(0, 255, 42);
}
.card4{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 208, 0);
}