.box{
    width: 200px;
    height: 200px;
    background-color: grey;
    margin: 100px 0px 0px 100px;
    perspective: 800px;
    transform: rotateY(30deg);
    transform-style: preserve-3d;

    
}
.pavel{
    width: 200px;
    height: 200px;
    background-color: blue;
    transform: rotateX(60deg);
    transform-origin: bottom;
    transition: 3s;
}
.pavel:hover{
    transform: rotateX(380deg);
    
    
}
