.container{
display: flex;
margin: 200px;
}
.box1{
margin-top: 100px;
margin-right: 20px;




}

.card1{
    width: 200px;
height: 200px;
background-color: aqua;
transform: scale(1);
transition: transform 1s;

}
.card1:hover{
    transform: scale(1.3);
}
.card2{
    width: 200px;
height: 200px;
background-color: blueviolet;
margin-top: 20px;
transform: scale(1);
transition: transform 1s;
}
.card2:hover{
    transform: scale(1.3);
}
.box2{
  
    
}
.card3{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 0, 0);
    transform: scale(1);
transition: transform 1s;
}
.card3:hover{
    transform: scale(1.3);
}
.card4{
    width: 200px;
    height: 200px;
    background-color: rgb(0, 255, 191);
    margin-top: 20px;
    transform: scale(1);
    transition: transform 1s;
}
.card4:hover{
    transform: scale(1.3);
    
}