.card{
display: flex;
margin: 300px;

}
.box1{
width: 300px;
height: 300px;
margin-left: 70px;
background-color: aqua;
padding: 10px;
}
.box1 img{
    width: 100px;
}
.image{
    margin-left: 100px;
}
.content{
    text-align: center;
}