body{
    background-color: antiquewhite;
}
.box{
    width: 600px;
    height: 600px;
    border: 2px solid red;
    background-image:url(./images/jhankar.png);
    
    
    
    
    

}p{
    background-color: aquamarine;
    margin-top: 200px;
    mix-blend-mode: darken;
}