.card{
    width: 300px;
    height: 300px;
    border: 2px solid red;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -150px;
    perspective: 800px;
}
.content{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 2s;
}
.card:hover .content{
    transform: rotateY(180deg);
    transform-style: preserve-3d;

}
.front,
.back{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    color: tomato;
    backface-visibility: hidden;
    font-size: 60px;
    text-align: center;
    line-height: 300px;
}
.back{
    background-color: tomato;
    color: #fff;
    transform: rotateY(180deg);

}