.box{
    width: 200px;
    height: 200px;
    background-color: grey;
    margin: 100px 0px 0px 100px;
    perspective: 800px;
    transform: rotatey(40deg);
transform-style: preserve-3d;
    
    transform-origin: bottom;
    
}
.pavel{
    width: 200px;
    height: 200px;
    background-color: blue;
    transform: rotateX(60deg);
    transform-origin:top;
    transition: 3s;
    
}
.pavel:hover{
    transform: rotatex(380deg);
    
}
