.box{
    width: 400px;
    height: 400px;
    border: 2px solid red;
    background-image: linear-gradient(to left,red,blue),url(./images/jhankar2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}