.box{
    width: 300px;
    height: 300px;
    background-color: aqua;
}
.box1{
    width: 300px;
    height: 300px;
    background-color: rgb(132, 0, 255);
    display: none;
}
.box2{
    width: 300px;
    height: 300px;
    background-color: rgb(102, 255, 0);
}
}