.card{
    display: flex;
    margin-left: 200px;
    margin-top: 100px;
}

.container{
    width: 300px;
    height: 300px;
    background-color: gray;
    
    margin-left: 100px;
    perspective:800px;
    transform: rotateX(30deg);
    background-image:url(./images/./my-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.inner{
    width: 100%;
    height: 100%;
    background-color:#37C3BE;
    transform: rotateX(0deg);
    transition: transform 2s;
    transform-origin: top;
    

}
.inner:hover{
transform: rotateX(180deg);
}